<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-2"><small class=" float-right pull-right pt-2 text-primary">Go To Page : </small></div>
    <div class="col-md-1">
        <select name="pages" class="form-control" id="current_page_no" onchange="getScreenData(this.value)">
            <option value="1">Go To</option>
        </select>
    </div>
</div>