{{>header}}
<div class="container-fluid page-body-wrapper">
  {{>sidebar}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 stretch-card1">
          <div class="card card-main">
            <div class="card-body">
              <div class="d-flex1 flex-wrap justify-content-between">
                <div>
                  <h4 class="card-title mb-3 text-primary pt-1 pl-2">Dashboard
                    overview</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
  </div>
</div>