{{>header}}
<div class="container-fluid page-body-wrapper">
  {{>sidebar}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 stretch-card1">
          <div class="card card-main">
            <div class="card-body">
              <div class="d-flex flex-wrap bg-primary justify-content-between mb-4">
                  <h4 class="card-title pt-3 pl-2 text-white">Dashboard
                    overview</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
  </div>
</div>