{{>header}}
<script src="./../public/assets/js/Chart.js"></script>
<div class="container-fluid page-body-wrapper">
  {{>sidebar}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div
          class="col-12 col-sm-12 col-md-12 col-xl-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex1 flex-wrap justify-content-between">
                <div>
                  <h4 class="card-title mb-3 text-primary pt-1 pl-2">Dashboard
                    overview</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footer}}
    </div>
  </div>
</div>